body {
  margin: 0;
  padding: 0;
  background-color: #d8d8d8;
}

#header {
  width: 100%;
  height: 40px;
  background-color: #333;
  display: block;
  margin-bottom: 30px;
  overflow: hidden;
}

#slider {
  display: block;
  width: 100%;
  height: 350px;
  position: relative;
  background-color: #354a7c;
}

#img-show {
  width: 100%;
  height: 350px;
  max-width: 100%;
  max-height: 350px;
}

#slider-arr {
  width: 100%;
  height: 200px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#arr-left {
  height: 30%;
  transform: rotate(0deg);
  left: 0;
  position: absolute;
  margin-left: 25px;
  opacity: 0.3;
}
#arr-left:hover {
  opacity: 0.5;
  cursor: pointer;
}

#arr-right {
  height: 30%;
  transform: rotate(180deg);
  right: 0;
  position: absolute;
  margin-right: 25px;
  opacity: 0.3;
}
#arr-right:hover {
  opacity: 0.5;
  cursor: pointer;
}

#slider-info {
  width: 70%;
  height: 500px;
  margin: auto;
  margin-top: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sl-info {
  text-align: center;
  font-family: sans-serif;
  color: white;
}

.sl-info h1 {
  text-shadow: 4px 4px 1px black;
  font-size: 50px;
}

.sl-info h3 {
  text-shadow: 3px 3px 1px black;
  font-size: 30px;
}

.sl-info a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 20px 30px 20px 30px;
  border: 1.5px solid white;
  box-shadow: 3px 3px 3px black;
  text-shadow: 3px 3px 3px black;
}

.sl-info a:hover {
  text-shadow: 0 0 0;
  color: black;
  background-color: white;
}

#slider-show {
  margin: auto;
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#sl-circles {
  margin: auto;
  height: 40px;
  display: table;
}

#sl-circles li {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  float: left;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#sl-circles a {
  display: block;
  background-color: white;
  width: 17px;
  height: 17px;
  margin-left: 2px;
  margin-top: 2px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#centre {
  overflow: hidden;
}

.img {
  float: left;
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 60px;
}

#logos {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

#texte {
  float: left;
  width: 200px;
  display: block;
  margin-left: 110px;
  margin-right: 110px;
}

#texte h3 {
  text-align: center;
}

#texte p {
  font-family: arial, serif;
  text-align: center;
}
